<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="autor" content="Portafolio de desarrollo web de Emmanuel Pacheco">
  <meta name="description" content="portafolio de desarrollo">
  <meta name="keywords" content="HTML,CSS,Angular,Bootstrap">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">

    <title>PegasoEvents|Entretenimiento</title><!-- 
    <link href="icon" type="imege/x-icon" href="/Users/cafe/Desktop/FULLSTACK/PG/src/assets/Pegaso Events-01.png">
-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
  
</head>

<body>
  <!--Barra de navegación -->
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#">
          <img src="assets/Pegaso Events-01.png" width="150" alt="Logo de la pagina">
        </a>

        <ul class="navbar-nav d-flex justify-content-center .align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- Seccion Hero-->
<section class= "hero align-items-stretch">
<div class="hero-principal d-flex flex-column justify-content-center align-items-center"> 
  <img class="hero-portada rounded-circle" src="assets/Pegaso Events-03.png" alt="Foto principal">
  <h1>Hola, Bienvenidos a Pegaso Events</h1>
  <h2> Conoce nuestros servicios </h2>
</div>

<!--
<div>
    <img class= "hero-inferior-imagen img-fluid" src="assets/Pegaso Events-13.jpg" alt="descripción de imagen">
  </div>

  -->
</section>

<!-- Acerca de nosotros-->
<section class="sobre-mi seccion-oscura">
  <div class="contenedor">
     <h2 class="seccion-titulo"> quiere saber un chisme </h2>
    <p class="seccion-texto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod eros et tristique mollis. Vestibulum dui urna, consequat nec pretium at, ornare facilisis tortor. Phasellus convallis nibh sed aliquam faucibus. Aenean placerat justo at lectus pretium, non rhoncus neque gravida. Pellentesque pharetra gravida tortor, quis facilisis arcu rhoncus id. Curabitur vitae lorem sem. Etiam vel ligula a lacus interdum imperdiet non euismod leo. Morbi efficitur congue nisi ac pellentesque.</p>
  </div>
</section>

<section class="experiencia seccion -clara">
  <div class="container text-center">
   <div class="row">
    <div class="columna col-12 col-md-4">
      <i class="bi bi-balloon-fill"></i>
      <p class="experiencia-titulo"> Kina y los Guerreros de Orión</p>
     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  
     <span class="badge text-bg-primary">Primary</span>
  </div>
  <div class="columna col-12 col-md-4">
    <i class="bi bi-balloon-fill"></i>
    <p class="experiencia-titulo"> Piñatas Qro</p>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
   <span class="badge text-bg-primary">Primary</span>

  

  
  
</div>
<div class="columna col-12 col-md-4">
  <i class="bi bi-balloon-fill"></i>
  <p class="experiencia-titulo"> Fotografia</p>
 <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
 <span class="badge text-bg-primary">Primary</span>

 
     </div>
    </div>
  </div>
</section>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>   
</html>
    
<!--
    <footer>
      <p>&copy; 2024 Pegaso Events</p>
    </footer>
  -->

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
